/*body {
text-align: center;

}


#connect-4-grid {
	background-color: yellow;
	display: inline-block; 
	height: 
}


.col {
	width: 70px;
	height: 70px;
	display: inline-block;
}
*/

body {
	background: url(https://i.redd.it/wm4evreq5o921.jpg);


}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 50px;
	color: crimson;

}

h3 {
	color: rgb(120,224,134);
}

button {
	height: 30px;
	
}


.column {
	background-color: pink;
	display: inline-block;
	flex-direction: column;


}


#sq-1-1 {

}

.square {

	background-color: white;

	border: 1px solid black;
	height: 90px;
	width: 90px;
}

/*div#1-1.square {
	background-color: blue;
}*/

/*#connect-4-grid {
	
	background-color: yellow;
}*/




/*  GRID OF SEVEN  
.span_7_of_7 {
	width: 100%;
}

.span_6_of_7 {
  	width: 85.42%;
}

.span_5_of_7 {
  	width: 70.85%;
}

.span_4_of_7 {
  	width: 56.28%;
}

.span_3_of_7 {
  	width: 41.71%;
}

.span_2_of_7 {
  	width: 27.14%;
}

.span_1_of_7 {
  	width: 12.57%;
}
*/